*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    color: darkslateblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    font-size: 20px;
    text-decoration:none;
}
p {
    font-size: 12px;
}

#main-header {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: goldenrod;
    
}

.nav-bar {
    list-style-type: none;
    float: right;
}

.nav-bar li {
    display: inline-block;
    margin-left: 20px;
}

aside {
    margin-left: 200px;
    margin-right: 5px;
    padding: 20px;
    float: left;
    width: 20%;
    height: 100%;
    background-color:cornsilk
}

h2 {
    display: flex;
    justify-content: flex-end;
}
main {
    background-color: lightgoldenrodyellow;
}

#first-project img{
    height: 500px;
    width: 500px;
}

.my-work ul {
    display: flex;
}
.projects {
    display: inline-block;
    justify-content:end;
}

.projects img {
    height: 300px;
    width: 300px;
}